.primary-border-button {
    border-radius: 4px;
    background-color: #fff;
    color: #faa422;
    border: 2px solid #faa422;
    font-weight: 500;
    height: 40px;
    width: 40%;
}

.primary-bg-button {
    border-radius: 4px;
    background-color: #faa422;
    color: #fff;
    border: none;
    font-weight: 500;
    height: 40px;
    width: 40%;
}

.close-button-post-image-creation {
    border: 2px solid #faa422;
    outline: none;
    border-radius: 50%;
    width: 25px;
    margin-top: -108px;
    margin-left: 82px;
    background-color: #fff;
    color: #faa422;
    font-size: 14px;
}

.vertical-line {
    border-left: 1px solid lightgray;
    height: auto;
}

.card-shadow {
    border: none;
    box-shadow: 0px 4px 7px #888888 !important;
}

.error-msg {
    color: red;
    font-weight: 500;
    font-size: 14px;
    /* display: block; */
}

.button-new-publication {
    border-radius: 4px;
    background-color: #e98c37;
    color: #fff;
    border: none;
    padding: 5px 20px;
}

.active div {
    background-color: #e98c37 !important;
}

/* for active tab in libraries use */
div.tab button.active {
    font-weight: 700;
    color: black;
    font-size: 18px;
    height: 40px;
    border-bottom: 3px solid #e98c37 !important;
    /* background: #ffe7cc !important; */
}

/* end */
.interest-card-bg {
    background-color: #e98c37 !important;
}

/* thinkly setting card text line height modified in build-in class */
.line-height-align .MuiTypography-body1 {
    line-height: 1 !important;
}

.line-height-align .MuiTypography-body2 {
    line-height: 1 !important;
}

/* end thinkly setting line height */

.interest-textbox {
    border-radius: 4px;
    border: solid 1px #ffa800;
    background-color: #fff;
    width: 100%;
    outline: 0;
    padding: 2px 8px 2px;
}

.bottomline-textbox {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px #ffa800;
    background-color: #fff;
    width: 100%;
    outline: 0;
    padding: 2px 8px 2px;
}

.card-interest {
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
    background-color: #fff;
    text-align: center;
    padding: 25px 43px 25px 44px;
}

/* card fixed for profile part */
.card-fixed {
    border: none !important;
    background: transparent !important;
    height: 700px !important;
    overflow-y: auto;
    scroll-behavior: smooth;
    /* padding-left: 70px; */
    /* padding-right: 10px; */
}

.account-list-card {
    border-radius: 8px;
}

.account-list-card:active {
    background: #ffe7cc;
}


.type-file-hide>input {
    display: none;
}

.interest-card {
    border: none !important;
    background: transparent !important;
    height: 330px !important;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding: 10px 2px;
}

.sub-interest-card {
    width: auto;
    border-radius: 4px;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 15%);
    background-color: #fff;
    text-align: center;
    padding: 10px 5px
}

/* modal popup scrollable */
.modal-dialog {
    overflow-y: initial !important
}

.modal-dialog .scroll {
    height: 90vh;
    overflow-y: auto;
}

/* react quill editor */

.ql-editor {
    height: 160px !important;
    /* resize: vertical; */
    overflow: auto;
}
/* for avoid doble quill toolbar */
/* .quill > .ql-toolbar:first-child {
    display: none !important;
  } */

/* default selected background color */
.MuiListItem-root.Mui-selected,
.MuiListItem-root.Mui-selected:hover {
    background-color: #ffe7cc !important;
}

.addReadMore.showlesscontent .SecSec,
.addReadMore.showlesscontent .readLess {
    display: none;
}

.addReadMore.showmorecontent .readMore {
    display: none;
}

.addReadMore .readMore,
.addReadMore .readLess {
    font-weight: bold;
    margin-left: 2px;
    color: black;
    cursor: pointer;
}

.addReadMoreWrapTxt.showmorecontent .SecSec,
.addReadMoreWrapTxt.showmorecontent .readLess {
    display: block;
}

/* for weburl in publication creation */
.input-box {
    position: relative;
}

.fixed-text-input {
    position: absolute;
    color: #888888;
    display: block;
    left: 7px;
    top: 62px;
    z-index: 9;
}

/* end here weburl in publication creation */

/* vertical progress bar used in publication success modal */

.StepProgress {
    position: relative;
    padding-left: 70px;
    list-style: none;
}

.StepProgress-item {
    position: relative;
    font-size: 0px;
    letter-spacing: 0;
    line-height: 30px;
    padding-left: 15px;
}

.StepProgress-item:not(:last-child) {
    padding-bottom: 42px;
    /* left: 20px; */
    border-left: 2px solid #e98c37;
}

.StepProgress-item::before {
    display: inline-block;
    border-left: 2px solid white;
    content: '';
    left: -22px;
    height: 100%;
    width: 10px;
    padding-left: 20px;
    color: #e98c37;
}

.StepProgress-item::after {
    content: counter(list);
    display: inline-block;
    position: absolute;
    text-align: center;
    top: 0;
    left: -10px;
    width: 20px;
    height: 20px;
    border: 2px solid #e98c37;
    border-radius: 50%;
    background-color: #FFF;
    color: #e98c37;
}

.StepProgress-item.active::after {
    width: 20px;
    height: 20px;
    left: -12px;
    font-size: 1px;
    text-align: center;
    border: 1px solid #e98c37;
    background-color: #e98c37;
}

/* progress bar end here */