/* padding-left */
.pd-l-10 {
    padding-left: 10px;
}
.pd-l-11 {
    padding-left: 11px;
}
.pd-l-12 {
    padding-left: 12px;
}
.pd-l-13 {
    padding-left: 13px;
}
.pd-l-14 {
    padding-left: 14px;
}
.pd-l-15 {
    padding-left: 15px;
}

/* padding-right */
.pd-r-10 {
    padding-right: 10px;
}
.pd-r-11 {
    padding-right: 11px;
}
.pd-r-12 {
    padding-right: 12px;
}
.pd-r-13 {
    padding-right: 13px;
}
.pd-r-14 {
    padding-right: 14px;
}
.pd-r-15 {
    padding-right: 15px;
}

